<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/completeProfile.css" />
  <title>Complete your profile.</title>
</head>
<body>
  <section class="container">
    <div class="profile">
        <h1>Welcome!</h1>
        {% autoescape false %}
        <p>{{greeting}}
        {% endautoescape %}
        <h2>Complete your profile by telling us your name, preferred email address, school, and interests.</h2>
      <form method="post" action="/signup">
        <p><input type="text" name="fname" value="" placeholder="First Name"></p>
        <p><input type="text" name="location" value="" placeholder="School Name"></p>
        <p>Interests:</p>
	{% for interest in interests %}
	
	{% if interest.interestkey %}

	<p class="interest">
          <label>
            <input type="checkbox" name="interest"  value ="{{ interest.interestkey }}" id="interest">
            {{ interest.interest }}
          </label>
        </p>

	{% endif %}

	{% endfor %}

        <p class="submit"><input type="submit" name="commit" value="Submit"></p>
      </form>
    </div>
  </section>
  <section class="about">
    <div class="about">Connect. Support. Reward.</div>
  </section>
</body>
</html>
