<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/search.css" />
  <title>Search Users.</title>
</head>
<body>
  <section class="container">
    <div class="search">
        <h1>Find other users who:</h1>
      <form method="post" action="/action">
        <p>Attend <input type="text" name="location" value="" placeholder="School Name"></p>
        <p>And are interested in:</p>

	{% for interest in interests %}

	{% if interest.interestkey %}
	<p class="interest">
          <label>
            <input type="checkbox" name="interest"  value ="{{ interest.interestkey }}" id="interest">
            {{ interest.interest }}
          </label>
        </p>
	{% endif %}

	{% endfor %}

        <p class="edit"><input type="submit" name="edit" value="Search"></p>
        <p class="edit"><input type="submit" name="edit" value="My Profile"></p>
        <p class="edit"><input type="submit" name="edit" value="Logout"></p>
      </form>
    </div>
  </section>
  <section class="about">
    <div class="about">Connect. Support. Reward.</div>
  </section>
</body>
</html>
