<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/viewProfile.css" />
  <title>View your profile.</title>
</head>
<body>
  <section class="container">
    <div class="profile">
      <div style="width: 100%; overflow: hidden;">
        <div style="float: left;">
          <img id="profilePic" src="{{profilePic}}"></img>
          <h1>{{ member.fName }}</h1>
          <p>{{ member.fName }} has received {{refers_num}} "Thank You"s!</p>
        </div>
	{% if not myProfile %}
        <div id="thanks">
          <form method="post" action="../action">
            <p class="edit"><input type="submit" name="thanks" value="Thank You!"></p>
          </form>
        </div>
	{% endif %}
      </div>
	<p>{{ member.homeSchool }}</p>
        <p>List of Interests:</p>
        <ul class="interest">	
	{% for cat in categories %}
	   <li>{{ cat }}</li>
	{% endfor %}
	</ul>
      <form method="post" action="../action">
	{% if myProfile %}
        <p class="edit"><input type="submit" name="edit" value="Edit my Profile"></p>
  {% else %}
        <script src="https://apis.google.com/js/platform.js"></script>
        <div id="placeholder-rr"></div>
        <script>
          gapi.hangout.render('placeholder-rr', {
            'render': 'createhangout',
            
            'invites':[{'id': {{member.userID}}, 'invite_type':'PROFILE'}],
            'initial_apps': [{'app_id' : '184219133185', 'start_data' : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }],
            'widget_size': 175
          });
        </script>
        <p class="edit"><input type="submit" name="edit" value="My Profile"></p>

	{% endif %}
        <p class="edit"><input type="submit" name="edit" value="Search Other Users"></p>
        <p class="edit"><input type="submit" name="edit" value="Logout"></p>
      </form>
    </div>
  </section>
  <section class="about">
    <div class="about">Connect. Support. Reward.</div>
  </section>
</body>
</html>
